
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
    margin: 0;
    padding: 0;
}

body{
    min-height: 100%;
    background-color: rgb(237, 237, 237);
    display: 100vh;
}

.grid-container{
    text-align: center;
}

.header{
        background-color: rgba(128, 128, 128, 0.5);
        color: rgb(177, 60, 138);
        grid-area: header;
}

.nav{
    grid-area: nav;
    padding: 20px;
}

.ul li{
    padding: 5px;
    list-style: none;

}


main{
    grid-area: main;
}

.contaner{
    width: 100%;
}

.fotos .card img{
    width: 60%;
}

.aside{
    padding: 10px 15px;
    grid-area: aside;
}

.aside h2{
    padding-bottom: 10px;
} 

.footer{
    background-color: rgba(128, 128, 128, 0.5);
    color: white;
    grid-area: pie;

}

@media (min-width: 700px) {
    .fotos{
        display: flex;
        flex-direction: row;
    }

.fotos .card img{
        width: 60%;
}

.ul li{
    display: inline;
}

.head{
    padding: 3vh;
}

.aside{
    border: solid;
    border-radius: 10px;
    margin: 10px 10px;
}

    .grid-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 10vh 20vh 60vh 10vh;
        grid-template-areas: 
        "header header header"
        "nav nav nav"
        "main main aside"
        "pie pie pie"
        ;
    }

.footer p{
   padding: 3vh;
}

}


/* --------------productos-------------- */

.grid{
    text-align: center;
    box-sizing: border-box;
    min-height: 100%;
    
}

.heade{
    background-color: rgba(128, 128, 128, 0.5);
    color: rgb(177, 60, 138);
    grid-area: head;
}

.nav{
    grid-area: nav;
}

.asi{
    border: solid;
    border-radius: 7px;
    margin: 10px 10px;
    padding: 10px;
    grid-area: asi;
}

.list ul{
    list-style: none;
    margin: 10px;
}

.ma{
    margin: 0;
    padding: 0;
    grid-area: ma;
}

footer{
    grid-area: pie;
}

img{
    width: 80%;
}

.ab{
grid-area: a;
}
.ac{grid-area: s;}
.ad{grid-area: d;}
.af{grid-area: f;}
.ag{grid-area: g;}
.ah{grid-area: h;}

@media (min-width: 700px) {
    .grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 10vh 20vh 60vh 10vh;
        grid-template-areas: 
        "head head head"
        "nav nav nav"
        "ma ma asi"
        "pie pie pie"
        ;
    }

.galeria img{
    width: 60%;
}

.galeria{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "a s"
    "d f"
    "g h"
    ;
}


}

@media (min-width: 1024px) {
    .grid{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 10vh 20vh 60vh 10vh;
        grid-template-areas: 
        "head head head head"
        "nav nav nav nav"
        "ma ma ma asi"
        "pie pie pie pie"
        ;
    }

    .galeria{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "a s d"
        "f g h"
        ;
}